{% extends 'major-event-log/base.html' %}

{% block title %}About{% endblock %}

{% block content %}

	<div class='page-header'>
		<h1>About</h1>
	</div>
    <p>This application serves to document major events related to the UNT Libraries` digital preservation projects. These events are not tied to specific objects, but rather affect all preserved objects or major subsets of objects.</p>
    <p>The events themselves can be viewed collectively on the home page or individually by clicking on the appropriate event's ID, which will take you to the details page. This page can present the details in HTML, PREMIS XML, or the Atom format. Additionally, the Atom feed shows 10 events per page, ordered by creation date, newest first.</p>

{% endblock %}
