<nav class='navbar navbar-inverse'>
    <div class='container-fluid'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#Navbar'>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' href='{% url "major-event-log:index" %}'><span class='glyphicon glyphicon-home'></span> Major Event Log</a>
        </div>
        <div class='collapse navbar-collapse' id='Navbar'>
            <ul class='nav navbar-nav navbar-right'>
                <li><a href='{% url "major-event-log:about" %}'>About</a></li>
                <li><a href='{% url "major-event-log:feed" %}'>Atom Feed</a></li>
            </ul>
        </div>
    </div>
</nav>
